<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rajeevpc.bims_kitchenapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".M"
            android:label="@string/app_name"
            android:theme="@style/the" />
        <activity android:name=".Login" />
        <activity
            android:name=".MenuPage"
            android:label="@string/title_activity_menu_page"
            android:theme="@style/MyMaterialTheme" />
        <activity android:name=".WelcomeActivity" />
        <activity
            android:name=".ProceedOrder"
            android:label="@string/title_activity_proceed_order"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".SendOrderFinal"
            android:label="@string/title_activity_proceed_order"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAzv-_l9l6xMvmCQALLXcRJ73U9rYEoUSY" />

        <activity
            android:name=".RegisterUser"
            android:label="@string/title_activity_register_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NumberAndLocation"
            android:label="@string/title_activity_number_and_location"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>